@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

nav:has(input) {
  transition: width .25s ease-in-out, padding-left .25s ease-in-out, opacity .25s ease-in-out;
}

nav:has(input:checked) {
  overflow: hidden;
  opacity: 0;
  width: 0;
  padding-left: 0;
  transition: width .25s ease-in-out, padding-left .25s ease-in-out, opacity .25s ease-in-out;
}

.dropdown.dropdown-open > .dropdown-content .dropdown-content, .dropdown:not(.dropdown-hover):focus > .dropdown-content .dropdown-content, .dropdown:focus-within > .dropdown-content .dropdown-content {
  visibility: hidden;
  opacity: 0;
  margin-inline-start: -.5rem;
  margin-top: .5rem;
}

.dropdown.dropdown-open > .dropdown-content .dropdown:hover .dropdown-content, .dropdown:not(.dropdown-hover):focus > .dropdown-content .dropdown:hover .dropdown-content, .dropdown:focus-within > .dropdown-content .dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}
